


    <div class="row caja-principal" >
        <div class="col">
            <div class="row" *ngFor="let item of listaAsignaturas">
                <div class="col-6 caja-asig">
                    <h3>{{item}}</h3>
                </div>
                <div class="col-3 caja-asig">
                    <button class="btn btn-outline" routerLink="/activityDetail"> Ir a la actividad </button>
                </div>
            </div>                   
    </div>
    <div class="col" >
        <img src="../../../../assets/images/6 SCENE 1.png" alt="imagen de actividad">  
  </div>
    </div>

