<div class="footer bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col copy">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                <p>2021</p>
                <button class="btn btn-outline"> Mas información </button>

            </div>
            <hr>

        </div>

        <div class="row">
            <div class="col">
                <ul class="l1">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>

                </ul>

                <ul class="l2">
                    <li><i class="fa fa-facebook-f"></i></li>
                    <li> <i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>


    </div>
</div>