<div class="contenedor">
    <div class="row caja-1">
        <div class="col">
            <img src="../../../assets/images/logo_transparent 1.png" id="img-logo" alt="">
        </div>
        <div class="col">
            <h4 id="title1">!Bienvenidos!</h4>
            <p id="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor dictum dolor at blandit. Nunc varius elit ac magna blandit interdum. Proin a euismod eros, nec feugiat purus. Quisque quis enim quis velit volutpat hendrerit. Donec sollicitudin,
                mauris quis tempus vestibulum, dolor neque laoreet elit, eu efficitur leo justo vel metus. Nulla sit amet rutrum diam. Sed vitae tortor consequat nisi porta volutpat quis non nunc.</p>
        </div>
    </div>

    <div class="row caja-2">
        <div class="col">
            <h4 id="title2">Sorprendente</h4>
            <p id="p2">Nos actualizamos para estar mas cerca de ustedes, gracias a esta plataforma podras ver las actividades asignadas de forma mas rapida, al igual que podrás encontrar contenidos adjunto referente a las actividades.
            </p>
        </div>
        <div class="col">

            <img src="../../../assets/images/10 SCENE 1.png" id="img1" alt="">
        </div>
    </div>

    <div class="row caja-3">
        <div class="col">

            <img src="../../../assets/images/4 SCENE 1.png" id="img2" alt="">
        </div>
        <div class="col">
            <h4 id="title3">Ten en cuenta</h4>
            <p id="p3">A traves de esta plataforma tanto estudiantes como docentes podran estar en contacto. Trabajaran de la mano para obtener mejores resultados y sobre todo tener una eficiente comunicacón
            </p>

        </div>
    </div>
    <div class="row caja-4">
        <div class="col">

            <h3 id="title4">Juntos Alcanzaremos la meta</h3>
            <!--El routerLink no funcionaba porque tenia que llamar el archivo de rutas en 
            cada modulo-->
            <button class="btn btn-outline" routerLink="login" routerLinkActive="active">  Iniciar Sesion </button>

        </div>
        <div class="col">

            <img src="../../../assets/images/2 SCENE 1.png" id="img3" alt="">
        </div>


    </div>
</div>