<div class="row caja-1">
    <div class="col">
        <img src="../../../assets/images/logo_transparent 1.png" alt="">
    </div>
    <div class="col">
        <h4>!Bienvenidos!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor dictum dolor at blandit. Nunc varius
            elit ac magna blandit interdum. Proin a euismod eros, nec feugiat purus. Quisque quis enim quis velit
            volutpat hendrerit. Donec sollicitudin, mauris quis tempus vestibulum, dolor neque laoreet elit, eu
            efficitur leo justo vel metus. Nulla sit amet rutrum diam. Sed vitae tortor consequat nisi porta volutpat
            quis non nunc.</p>
    </div>
</div>

<div class="row caja-2">
    <div class="col">
        <h4>Sorprendente</h4>
        <p>Nos actualizamos para estar mas cerca de ustedes, gracias a esta plataforma podras ver las actividades
            asignadas de forma mas rapida, al igual que podrás encontrar contenidos adjunto referente a las actividades.
        </p>
    </div>
    <div class="col">

        <img src="../../../assets/images/10 SCENE 1.png" alt="">
    </div>
</div>

<div class="row caja-3">
    <div class="col">

        <img src="../../../assets/images/4 SCENE 1.png" alt="">
    </div>
    <div class="col">
        <h4>Ten en cuenta</h4>
        <p>A traves de esta plataforma tanto estudiantes como docentes podran estar en contacto. Trabajaran de la mano
            para obtener mejores resultados y sobre todo tener una eficiente comunicacón
        </p>

    </div>
</div>
<div class="row caja-3">
    <div class="col">

        <h3>Juntos Alcanzaremos la meta</h3>
    </div>
    <div class="col">
        
        <img src="../../../assets/images/2 SCENE 1.png" alt="">
    </div>
</div>