<app-headers [items] = 'items' [activado] = 'true'></app-headers>
<div class="ancho">
    <div class="row">
        <div class="col"><img src="../../../assets/images/logo_transparent 1.png" alt=""></div>
        <div class="col formulario">
            <h1>Login</h1>
            <div class="row campos">
                <p>Usuario</p>
                <input class="form-control i1" type="text" placeholder="Número de documento" aria-label="default input example">
                <p>Contraseña</p>
                <input class="form-control i2" type="password" placeholder="******" aria-label="default input example">
                <p id="Pass">¿Olvidaste tu contraseña?</p>
                <button class="btn btn-outline" routerLink="/homeEstudiante">  Ingresar</button></div>



        </div>
    </div>

</div>