<app-headers [items]="items"></app-headers>
<div class="container">

    <div class="row row1">
        <div class="col-6 col-sm-3">
            <h1>{{grupos}}</h1>
        </div>
        <div >

            <div>
                <h1>Grado {{grado}}</h1>
            </div>

        </div>

        <hr style="color: #929ECC;">
    </div>

        Grupos
    <div class="row row2">
        <div class="col-4">
            <div class="d-grid gap-2 d-md-block" >
             
                    <div class="col">

                        <button class="btn btn-primary grp" type="button"  *ngFor="let item of grupo" (click)="verListado(item.id_grupo)">{{item.posicion}}</button>
                    </div>
               
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary b1"  (click)="asignarActividad()">Asignar actividad</button>
            <button type="button" class="btn btn-outline-primary b1" >Ver entregas</button>
            <button type="button" class="btn btn-outline-primary b1" (click)="verActividades()"  > Ver Actividades asignadas</button>

        </div>


    </div>

    <div class="row">
        <h4 style="color: #262559;">Listado de estudiantes</h4>
        <!--Por el momento asi para no saturarnos-->


        <div>


            <div *ngFor="let item of ligrupo1">
                <p>{{item.nombres}}</p>
            </div>
        </div>
    </div>
</div>