<div class="ancho">
    <div class="row">
        <div class="col">
            <img src="../../../../assets/images/5 SCENE.png" alt="">

            <div class="card-body">
                <p class="card-text">Aqui encontraras las asignaturas que estas recibiendo y tendras acceso a las actividades</p>
            </div>
        </div>
        <div class="col asignaturas">
            <h1>Asignaturas</h1>

            <ul class="list-group">
                <li class="list-group-item title"><a href="">Asignaturas</a></li>
                <li class="list-group-item"><a href="">Matematica</a></li>
                <li class="list-group-item"> <a href="">Filosofia</a>
                </li>
                <li class="list-group-item"><a href="">Ciencias Naturales</a> </li>
                <li class="list-group-item"><a href="">Geometria</a> </li>
                <li class="list-group-item"><a href="">Estadistica</a> </li>
                <li class="list-group-item"><a href="">Religion</a>
                </li>
            </ul>
        </div>
    </div>
</div>