<app-headers [items]="items"></app-headers>



  <div class="container">
    <div class="row row1">
        <div class="container">
            <div class="col-4">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Periodos
                </a>
        
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                        <li ><a class="dropdown-item" *ngFor="let item of periodo; let i=index" (click)="periodos(item)">{{item.anio }} -{{i+1}}</a></li>
        
                    </ul>
                </div>
                Periodo: {{ id_periodo }}
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> No</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha inicial</th>
                    <th scope="col">Fecha final</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listActividades;let i = index  ">
                    <th scope="row">{{i +1}}</th>
                    <td>{{item.descripcion}}</td>
                    <td >{{item.fecha_inicial  | date:'yyyy-MM-dd'}}</td>
                    <td>{{item.fecha_limite    | date:'yyyy-MM-dd'}}</td>
                    <td><button type="button" class="btn btn-primary btn-sm b1" (click)="editar(item)" >Editar</button> </td>
                </tr>


            </tbody>
        </table>
    </div>


</div>
  </div>