<app-headers [items]="items"></app-headers>

<div class="container">
    <div class="row row1">
        <div class="col-6 col-sm-3">
            <!-- <h1>{{grupos}}</h1> -->
        </div>
        <div class="col-6 col-sm-3">
            <div class="dropdown">
          
                <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngFor="let item of asignaturas">
                    <li><a class="dropdown-item">{{item }}</a></li>

                </ul> -->
            </div>
        </div>
        <hr style="color: #929ECC;">
    </div>

    <div class="row justify-content-between">
        <div class="col-4">
            Grado
            {{grado}} - {{posicion}}
        </div>
        <div class="col-4">
       {{asiganatura}}
        </div>
      
        <div class="col-4">
            <!--Hay que enviar por la ruta el curso para poder registra a que curso se asigno la 
            actividad en la base de datos-->
            <button type="button" class="btn btn-outline-primary b3" routerLink="/verEntregas">Ver Actividades asignadas</button>
        </div>


    </div>

        <form  [formGroup]=formulario>
            <div class="row row3">

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName=descripcion> </textarea>
                </div>
        
                <div class="row3-1">
                <div class="col">
                        <p>Fecha limite</p>
                    </div>
                     <div class="col">
                        <mat-form-field appearance="fill" class="date">
                            <mat-label>Elige una fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName=fechaLimite>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                     </div>   
                </div>
            </div>
            <div style=" margin-top: 30px; text-align: center;">
                <button *ngIf="!visible; else editar" type="submit" [disabled]="formulario.invalid" class=" m-1 btn " style="width: 150px; background: #262559; color: white;" (click)="crearActividad()">Crear Actividad</button>
                <ng-template #editar>
                    <button  type="submit" [disabled]="formulario.invalid" class=" m-1 btn " style="width: 150px; background: #262559; color: white;" (click)="editarActividad()">Editar Actividad</button>
        
                </ng-template>
            </div>
        </form>
      
        

    <div class="row">
        <label for=""> Archivos</label>
        <div>
            <div class="detalle-actividad mt-5 p-4" style="height: 300px;">
                <div class="row">
                    <div class="col-4" *ngIf="archivoCargado.length>0">
                        <ul class="nav flex-column">
                            <div *ngFor="let item of   archivoCargado">
                                <li *ngIf="item.endsWith('.pdf')"><i class="fas fa-file-pdf" style="color:red"></i> {{item}}
                                </li>
                                <li *ngIf="item.endsWith('.docx')"><i class="fas fa-file-word" style="color:rgb(96, 96, 192)"></i> {{item}}
                                </li>
                                <li *ngIf="item.endsWith('.xls')"><i class="fas fa-file-excel" style="color: rgb(45, 204, 45);"></i> {{item}}
                                </li>
                                <li *ngIf="item.endsWith('.xlsx')"><i class="fas fa-file-excel" style="color: rgb(45, 204, 45);"></i> {{item}}
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="d-flex  justify-content-center">
                            <div class="text-center mt-5">
                                <button type="button" class="btnfile">                                
                                    <input type="file" (change) ='getArchivo($event)' >
                                </button>
                                <p>Haz clic y carga un archivo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>