.row1 {
    margin-top: 10%;
}

.dropdown {
    display: inline;
}

.dropdown .btn {
    background: white;
    border-color: #262559;
    color: #262559;
    margin-top: 5px;
}

.col {
    display: inline-block;
}

h1 {
    color: #262559;
}

.row2 {
    margin-top: 10px;
}

.grp {
    /*//background: #929ECC;*/
    background: white;
    color: #262559;
    border-color: #262559;
    width: 37px;
    height: 30px;
    margin: 10px;
    font-size: 14px;
}

.grp:hover {
    background: #929ECC;
    color: white;
    border-color: #929ECC;
}

.b3 {
    border-color: #262559;
    color: #262559;
    margin-top: 5px;
}

.b3:hover {
    color: white;
    background: #262559;
    border-color: #262559;
}

.detalle-actividad {
    width: 90%;
    border-radius: 16px;
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(117, 131, 142, 0.04), 0px 8px 16px rgba(52, 60, 68, 0.1);
    border-radius: 16px;
}

.btAdd {
    margin: auto;
    background: #262559;
    border-radius: 2px;
    height: 15px;
    width: 260px;
    color: #FFFFFF;
    font-size: 14px;
    padding-bottom: 25px;
}

img {
    width: 100px;
}

.btnfile {
    background-image: url('../../../../assets/images/agregar-archivo 1.png');
    background-repeat: no-repeat;
    height: 120px;
    background-position: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

.btnfile input {
    width: 100px;
    height: 120px;
    opacity: 0;
    cursor: pointer;
}

.date {
    margin-left: 10%;
}

.row3-1 {
    display: block;
}




.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
}
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
     
  }
  .contenedor-formulario {
    width: 400px;
  }
  a {
    text-decoration: underline;
    color: #262559;
    text-decoration: none;
  }



  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
   
  
  
    
  }
  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  .contenedor-formulario {
    width: 400px;
  }